<?xml version="1.0" encoding="utf-8"?>
<robot name="jetautoV2" xmlns:xacro="http://ros.org/wiki/xacro">


    <xacro:include filename="$(find jetauto_descriptionV2)/urdf/materials.xacro"/>
    <xacro:include filename="$(find jetauto_descriptionV2)/urdf/inertial_matrix.xacro" />

    <!-- sensors -->
    <xacro:include filename="$(find jetauto_descriptionV2)/urdf/imu.urdf.xacro"/>
    <xacro:include filename="$(find jetauto_descriptionV2)/urdf/lidar.urdf.xacro"/>
    <xacro:include filename="$(find jetauto_descriptionV2)/urdf/lidar_a1.urdf.xacro"/>

    
    <!-- Import roller and wheel -->
    
    <xacro:include filename="$(find jetauto_descriptionV2)/urdf/roller.urdf.xacro"/>
    <xacro:include filename="$(find jetauto_descriptionV2)/urdf/wheel_LF.urdf.xacro"/>
    <xacro:include filename="$(find jetauto_descriptionV2)/urdf/wheel_LR.urdf.xacro"/>
    <xacro:include filename="$(find jetauto_descriptionV2)/urdf/wheel_RF.urdf.xacro"/>
    <xacro:include filename="$(find jetauto_descriptionV2)/urdf/wheel_RR.urdf.xacro"/>
    
    <!-- robot -->
    <xacro:include filename="$(find jetauto_descriptionV2)/urdf/robot_description.urdf.xacro"/>


</robot>
